---
import OnboardingWizard from "../components/onboarding/OnboardingWizard";
import Layout from "../layouts/Layout.astro";
---

<Layout title="はじめに" hideNav>
  <main style="min-height: 100dvh; display: flex; align-items: center; justify-content: center;">
    <div style="width: 100%; max-width: 480px; padding: 24px;">
      <OnboardingWizard client:load />
    </div>
  </main>
</Layout>
