---
import OnboardingWizard from "../components/onboarding/OnboardingWizard";
import Layout from "../layouts/Layout.astro";
import pageStyles from "../styles/page.module.css";
---

<Layout title="はじめに" hideNav>
  <main class={pageStyles.onboardingMain}>
    <div class={pageStyles.onboardingContainer}>
      <OnboardingWizard client:load />
    </div>
  </main>
</Layout>
