---
import SearchPage from "../components/search/SearchPage";
import Layout from "../layouts/Layout.astro";
import { getPrefectures } from "../services/prefectures.ts";

const prefectures = getPrefectures();
---

<Layout title="さがす">
  <main style="padding: 16px;">
    <h1 style="font-size: 24px; font-weight: 700; margin-bottom: 16px;">都道府県をさがす</h1>
    <SearchPage client:load prefectures={prefectures} />
  </main>
</Layout>
