---
import WishlistPage from "../components/wishlist/WishlistPage";
import Layout from "../layouts/Layout.astro";
import { getPrefectures } from "../services/prefectures.ts";
import pageStyles from "../styles/page.module.css";

const prefectures = getPrefectures();
---

<Layout title="行きたいリスト">
  <main class={pageStyles.main}>
    <h1 class={pageStyles.pageTitle}>行きたいリスト</h1>
    <WishlistPage client:idle allPrefectures={prefectures} />
  </main>
</Layout>
